#about {
  max-width: 600px;
}

#about h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

#about p {
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}

.semibold {
  font-weight: 600;
}

#about i, a {
  color:  rgba(38, 38, 38, 0.8);
}

#about i {
  margin-right: 5px;
}