body {
  font-family: OpenSans, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: rgba(38, 38, 38, 0.8);
}

/* Menu */
.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-navigation {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 84px;
  margin-bottom: 75px;
}

#logo img  {
  width: 130px;
  height: 130px;
  opacity: 0.9;
}

#menu {
  display: flex;
}

#menu li {
  list-style-type: none;
}

#menu li a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(38, 38, 38, 0.8);
  margin: 28px;
}

.active {
  color: #cba2a5;
  border-bottom: solid 2px #cba2a5;
}

#menu li a:hover {
  color: #cba2a5;
}
/* Hero */

.hero h1 {
  font-size: 32px;
  max-width: 900px;
  font-weight: 400px;
  line-height: 45px;
  margin-bottom: 1.1%;
}

.color-touch {
  color: #cba2a5;
}

.bold {
  font-weight: 600;
}

.hero p {
  font-weight: 400;
  font-size: 20px;
}

.hero p a {
  text-decoration: none;
  border-bottom: solid 2px #cba2a5;
}

.hero p span:hover {
  color: #e7c9cb;
}

/* Projects */

.projects {
  margin-top: 5%;
  display: grid;
  grid-gap: 76px 20px;
  grid-template-columns: repeat(2, 470px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
}

.item{
  position: relative;

}

.item h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 14px;
}

.item p {
  line-height: 30px;
}

.item img {
  width: 100%;
  height: 329px;
  object-fit: cover;
  object-position: top;

}

.tag {
  font-size: 18px;
  font-weight: 600;
  color: #d2a0a4;
  margin-top: 18px;
}

.item{
  position: relative;
}

.hover-color {
  width: 470px;
  height: 329px;
  position: absolute;
  display: flex;
  justify-content: center;
  background: rgb(210,160,164,0.8);
  transition: opacity .2s linear;
  opacity: 0;
}

.hover-color:hover {
  opacity: 1;
}

.read-more {
  color: white;
  width: 258px;
  border: solid 1.5px white;
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 20px 60px;
  box-sizing: border-box;
}

.read-more:hover {
  color: #d2a0a4;
  border: solid 1px white;
  background-color: white;
}

/* Footer */

#footer {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 100px;
}

#footer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}